*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.row {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgb(235, 104, 104);
  color: white;
}

.header__nav--list {
  gap: 1rem;
  align-items: center;
}

#add-btn,
#today-btn,
#this-week-btn {
  appearance: none;
  border: none;
  background: none;
  font-size: 1rem;
  color: white;
  font-weight: 700;
}

#add-btn:hover,
#today-btn:hover,
#this-week-btn:hover {
  filter: brightness(.9);
  cursor: pointer;
}

.dialog {
  border: none;
  position: relative;
}

#close-btn {
  position: absolute;
  top: .2rem;
  right: .2rem;
  border: none;
  background: rgb(255, 97, 97);
  color: white;
  font-weight: 700;
  font-size: .8rem;
  border-radius: 3px;
}

#close-btn:hover {
  filter: brightness(.9);
  cursor: pointer;
}